@model  StarPeaceAdminHub.Models.Categorys.CategorysListViewModel
@using StarPeaceAdminHub.Controllers
@{
    ViewData["Title"] = "Manage Books";
}

    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Delete</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Title</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Duration/days</th>
                        <th scope="col">Retail Price</th>
                        <th scope="col">Availble from</th>
                        <th scope="col">Availble to</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach(var Category in Model.Items)
                    {
                    <tr>
                        <td>
                            <button class="btn btn-primary">
                            <a asp-controller="ManageCategorys"
                               asp-action="@nameof(ManageCategorysController.Delete)"
                               asp-route-id="@Category.Id">
                                delete
                            </a>
                            </button>
                        </td>
                        <td>
                            <a asp-controller="ManageCategorys"
                               asp-action="@nameof(ManageCategorysController.Edit)"
                               asp-route-id="@Category.Id">
                                edit
                            </a>
                        </td>
                        <td>
                            @Category.CategoryName
                        </td>
                        <td>
                            @* @Category.Name *@
                        </td>
                        <td>
                            @* @Category.DurationInDays *@
                        </td>
                        <td>
                            @* @Category.Price *@
                        </td>
                        <td>
                            @* @(Category.StartValidityDate.HasValue ?
                                Category.StartValidityDate.Value.ToString("d")
                                :
                                String.Empty) *@
                        </td>
                        <td>
                            @* @(Category.EndValidityDate.HasValue ?
                                Category.EndValidityDate.Value.ToString("d")
                                :
                                String.Empty) *@
                        </td>

                    </tr>

                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" asp-controller="ManageCategorys"
              asp-action="@nameof(ManageCategorysController.Create)">
            New Book
        </a>
    </div>
